<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>{title}</title>
    <meta name="description" content="">

    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <link rel="icon" sizes="192x192" href="/favicon/favicon-192x192.png">
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png">
    <meta name="msapplication-square150x150logo" content="/favicon/ms-icon-150x150.png">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#515151">
    
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    {content}
</body>

</html>